%p#notice= notice
%h1 Jobs
%table
  %thead
    %tr
      %th Title
      %th Description
      %th Salary
      %th{:colspan => "3"}
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.title
        %td= job.description
        %td= job.salary
        %td= link_to 'Show', job
        - if signed_in?
          %td= link_to 'Edit', edit_job_path(job)
          %td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Job', new_job_path

%p= "Session id shows #{current_manager.id}"
