%p#notice= notice
%p
  %strong Title:
  = @job.title
%p
  %strong Description:
  = @job.description
%p
  %strong Salary:
  = @job.salary
%p
  %strong Manager Id:
  = @job.manager_id
-if signed_in?
  = link_to 'Edit', edit_job_path(@job)
  \|
= link_to 'Back', jobs_path
