%p#notice= notice
%p
  %strong Name:
  = @manager.name
%p
  %strong Title:
  = @manager.title
-if signed_in?
  = link_to 'Edit', edit_manager_path(@manager)
  \|
= link_to 'Back', managers_path

%p= "Session id shows #{current_manager.id} and @manager.id shows #{@manager.id}"
